footer {
    background-color:#a8ced5;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 5px;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer li:last-child {
    margin-right: 0;
  }
  
  footer li a {
    color: black;
    text-decoration: underline;
  }
  
  footer li a:hover {
    text-decoration: underline;
  }
  