.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 5%;
    border-spacing: 50px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
  
  .post-header {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
  }
  
  .post-username {
    font-weight: bold;
    color: black;
  }
  
  .post-timestamp {
    color: #d50909;
  }
  
  .post-message {
    margin-top: 10px;
    color:darkslategray;
    font-family: 'Courier New', Courier, monospace;
  }
  